<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbyulgram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.1/mustache.min.js"
        integrity="sha512-3GRj7sme01zpWwRNPNy48Rda1bD9cq34lqYG5vb8ZXGc+wRqsoBJ3+AC25IYW5w5SrWlzHqIpNIxZt5QF9sXLg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="app">
        <input type="text" id="title" ref="title" /><br />
        <input type="file" id="picture" ref="picture" accept="image/png, image/jpeg" /><br />
        <input type="password" id="password" ref="password" /><br />
        <button v-on:click="post">Posting!</button>
        <hr />
        <div v-for="list in lists" v-bind:id="list.uid">
            {{ list.uid }}
            <div>
                <img v-bind:src="list.path" width="50%" />
            </div>
            <input type="text" v-model=list.title ref="tt" /><br />
            <input type="file" :ref="'picture' + list.uid" accept="image/png, image/jpeg" /><br />
            <button v-on:click="update(list)">update</button>
            <button v-on:click="del(list)">delete</button>
            <hr />
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                file: null,
                lists: [],
                path: "",
                status: "",
            },
            mounted() {
                this.$nextTick(function () {
                    this.getList();
                });
            },
            methods: {
                getList() {
                    axios.get('http://localhost:8080/content').then(response => {
                        this.lists = response.data;
                        // response.data.forEach(element => {
                        //     console.log(element.path);
                        // });
                    }).catch(error => console.log(error));
                },
                post() {
                    var formData = new FormData();
                    formData.append("picture", this.$refs.picture.files[0]);
                    formData.append("title", this.$refs.title.value);
                    formData.append("password", this.$refs.password.value);

                    axios.post('http://localhost:8080/content', formData,
                        { headers: { 'Content-Type': 'multipart/form-data' } }
                    ).then(response => {
                        console.log(response.data);
                        this.getList();
                    }).catch(error => console.log(error));
                },
                update(list) {
                    var upPasswd = prompt("Enter the password for update.");
                    if (!upPasswd) return;

                    var formData = new FormData();
                    formData.append("picture", this.$refs['picture' + list.uid][0].files[0]);
                    formData.append("title", list.title);
                    formData.append("password", upPasswd);

                    axios.put('http://localhost:8080/content/' + list.uid, formData,
                        { headers: { 'Content-Type': 'multipart/form-data' } }
                    ).then(response => {
                        console.log(response.data);
                        this.getList();
                    }).catch(error => console.log(error));
                },
                del(list) {
                    var delPasswd = prompt("Enter the password for the delete.");
                    if (!delPasswd) return;

                    axios.delete('http://localhost:8080/content/' + list.uid, {
                        data: {
                            password: delPasswd
                        }
                    }
                    ).then(response => {
                        //console.log(response.data);
                        this.getList();
                    }).catch(error => console.log(error));
                },
            },
        });
    </script>
</body>

</html>